<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About...</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
              
    <header>
        <div class="logo"><img src="./images/PICTURES5.png" alt=""></div>
        <div class="menu" id="menu"><img src="./images/menu.png" width="60px" height="60px" ></div>
        <nav>
            <ul class="ul-n"> 
                <li><a href="/">HOME</a></li>
                <li><a href="about">ABOUT</a></li>
                <li><a href="courses">COURSES</a></li>
                <li><a href="contact">CONTACT</a></li>
            </ul>
        </nav>
     </header>
     <!-- about us -->
      <section class="about">
           <div class="top"><h1>ABOUT NASEEIM ACADEMY</h1></div>
           <div class="umm">
            <div class="img"></div>
            <div class="text">
                <h2>أكاديمية النسيم</h2>
                <P><span>ABOUT US:</span>  Welcome to Naseeim Academy, your gateway to comprehensive Islamic education. We offer a structured curriculum of learning in Arabic and English language, designed to cater to students from the beginner to advanced levels. Whether you're seeking to deepen your knowledge of Aqeedah, Hadeeth, Fiqh, Seerah, or advanced fields, our online program is crafted to meet your needs. Join us to learn with from our vast expert scholars at Naseeim.</P>
                <p><span>OUR MISSION:</span>  At Naseeim Academy, our mission is to provide accessible, high-quality Islamic education to learners across the globe. We aim to nurture a deep understanding of Islamic teachings through a structured, interactive, and flexible online learning environment.</p>
            </div>
           </div>
      </section>
      <section class="instr">
        <div class="top"><h1>OUR INSTRUCTORS</h1></div>
        <div class="slider-container">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                      <div class="card">
                        <div class="im"><img src="./images/PICTURES2.png" alt=""></div>
                        <div class="t"><h1>USTADH</h1><h2>IBRAHIM RABI'U</h2><p>qur'an & aqeedah</p></div>
                    </div>
                    </div>
                    <div class="slide">
                      <div class="card">
                        <div class="im"><img src="./images/PICTURES3.png" alt=""></div>
                        <div class="t"><h1>USTADH</h1><h2>ALIYU AL-MUSTAPHA</h2><p>hadiths</p></div>
                      </div>
                    </div>
                    <div class="slide">
                       <div class="card">
                        <div class="im"><img src="./images/PICTURES4.png" alt=""></div>
                        <div class="t"><h1>USTADH</h1><h2>MUHYIDDEN YUSUF</h2><p>tauhid & aqeedah</p></div>
                       </div>
                    </div>
                    <div class="slide">
                         <div class="card">
                            <div class="im"><img src="./images/PICTURES1.png" alt=""></div>
                            <div class="t"><h1>USTADH</h1><h2>ABDULMUQEET HUSSAIN</h2><p>ilmul jar-hu watta'adil</p></div>
                         </div>
                    </div>
                    <div class="slide">
                       <div class="card">
                        <div class="im"><img src="./images/PICTURES6.png" alt=""></div>
                        <div class="t"><h1>USTADH</h1>AHMAD MUHAMMAD RABILU<h2></h2><p>usulul tafser</p></div>
                       </div>
                    </div>
                    
                </div>
                <a class="prev" onclick="prevSlide()">&#10094;</a>
                <a class="next" onclick="nextSlide()">&#10095;</a>
            </div>
            <!-- <div class="dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div> -->
        </div>
      </section>
      <!-- enrool -->

      <div class="last">
        <h2>ENROLL OUR ONLINE COURSES FROM EVERY WHERE IN THE WOLRD</h2>
        <button class="btn"><a href="">REGISTER NOW</a></button>
     </div>



       <!-- footer -->
     <footer>
      <main>
        <div class="log">
            <h1>أكاديمية النسيم</h1>
            <img src="./images/PICTURES5.png" alt="">
        </div>
        <div class="icons">
            <a href="https://www.facebook.com/profile.php?id=61559915714971"><img src="./images/svgs/brands/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/naseeimacademy?igsh=dGQxdHhwY2Q4Y3J0"><img src="./images/svgs/brands/instagram.svg" alt=""></a>
            <a href="https://t.me/naseeimacademy."><img src="./images/svgs/brands/telegram.svg" alt=""></a>
            <a href="https://www.youtube.com/@naseeimacademy"><img src="./images/svgs/brands/youtube.svg" alt=""></a>
        </div>
        <div class="des">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/courses">COURSES</a>
            <a href="/contact">CONTACT</a>
         </div>
     </main>
        <P>copy #copy; all right reserved</P>
     </footer>

     <!-- javascript -->
      <script src="index.js"></script>
</body>
</html>