<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About...</title>
    <link rel="stylesheet" href="courses.css">
</head>
<body>
                 
    <header>
        <div class="logo"><img src="./images/PICTURES5.png" alt=""></div>
        <div class="menu" id="menu"><img src="./images/menu.png" width="60px" height="60px" ></div>
        <nav>
            <ul class="ul-n"> 
                <li><a href="/">HOME</a></li>
                <li><a href="about">ABOUT</a></li>
                <li><a href="courses">COURSES</a></li>
                <li><a href="contact">CONTACT</a></li>
            </ul>
        </nav>
     </header>
    <section class="courses">
    </section>
    <div class="main">
        <div class="t"><h1>ENROLL OUR COURSES FROM EVERYWHRERE IN THE WORLD</h1></div>
        <div class="line"></div>
        <div class="contents">
            <div class="card">
                <h2>Basic Class: (Available)</h2>
                <p>For individuals with no basic Islamic Knowledge and cannot recite Qur’anic Text.(Age: Kids 8 - 14. Adults 15 - and above)</p>
                <p>Form: N2,000 - $5 <br>Course Registration: N20,000 - $25</p>
                <div class="more" id="more">
                    <p>Duration: 24 Weeks (4Months)</p>
                    <p>Time: 8:30pm-9:30pm</p>
                    <p>Subject: <br> 1.	Arabic Reading and writing Skills + 10 Qur’anic Surah. <br>2.	General Studies (Fundamental Islamic Knowledge)</p>
                </div>
                <button class="btn">Read More</button>
            </div>
            <div class="card">
                <h2>Beginner Class:(Available)</h2>
                <p>For individuals with basic Islamic knowledge and can read Qur’an Arabic Text.(Age: Every Body)</p>
                <p>Form: N2,000 - $5 <br>Course Registration: N20,000 - $25</p>
                <div class="more" id="more">
                    <p>Duration: 24 Weeks (4Months)</p>
                    <p>Time: 8:30pm-9:30pm</p>
                    <p>Subject: <br> 1.	Arabic Reading and writing Skills + 10 Qur’anic Surah. <br>2.	General Studies (Fundamental Islamic Knowledge)</p>
                </div>
                <button class="btn">Read More</button>
            </div>
            <div class="card">
                <h2>Intermediate Class: (Not Available)</h2>
                <p>For individuals with average Islamic knowledge. </p>
                <p>Form: N2,000 - $5 <br>Course Registration: N20,000 - $25</p>
                <div class="more" id="more">
                    <p>Duration: 24 Weeks (4Months)</p>
                    <p>Time: 8:30pm-9:30pm</p>
                    <p>Subject: <br> 1.	Arabic Reading and writing Skills + 10 Qur’anic Surah. <br>2.	General Studies (Fundamental Islamic Knowledge)</p>
                </div>
                <button class="btn">Read More</button>
            </div>
            <div class="card">
                <h2>Advance Class: (Not Available)</h2>
                <p>For individuals with a very good and sound Islamic knowledge background</p>
                <p>Form: N2,000 - $5 <br>Course Registration: N20,000 - $25</p>
                <div class="more" id="more">
                    <p>Duration: 24 Weeks (4Months)</p>
                    <p>Time: 8:30pm-9:30pm</p>
                    <p>Subject: <br> 1.	Arabic Reading and writing Skills + 10 Qur’anic Surah. <br>2.	General Studies (Fundamental Islamic Knowledge)</p>
                </div>
                <button class="btn">Read More</button>
            </div>
            <div class="card">
                <h2>Diploma Course: (Not Available)</h2>
                <p>For individuals with advance Islamic knowledge and vast foundation in Qur’an, Hadith, Fiqh and Arabic Language.</p>
                <p>Form: N2,000 - $5 <br>Course Registration: N20,000 - $25</p>
                <div class="more" id="more">
                    <p>Duration: 24 Weeks (4Months)</p>
                    <p>Time: 8:30pm-9:30pm</p>
                    <p>Subject: <br> 1.	Arabic Reading and writing Skills + 10 Qur’anic Surah. <br>2.	General Studies (Fundamental Islamic Knowledge)</p>
                </div>
                <button class="btn">Read More</button>
            </div>
            <div class="card">
                <h2>Advanced Diploma Courses: (Not Available)</h2>
                <p>For individuals who want to specialize in any of the following field after completing the Diploma course. </p>
                <p>Form: N2,000 - $5 <br>Course Registration: N20,000 - $25</p>
                <div class="more">
                    <p>Duration: 24 Weeks (4Months)</p>
                    <p>Time: 8:30pm-9:30pm</p>
                    <p>Subject: <br> 1.	Arabic Reading and writing Skills + 10 Qur’anic Surah. <br>2.	General Studies (Fundamental Islamic Knowledge)</p>
                </div>
                <button class="btn">Read More</button>
            </div>
        </div>
    </div>

      <!-- learnin path -->
      <section class="learn">
        <div class="t">
            <h1>OUR LEARNING PATH</h1>
            <div class="line"></div>
        </div>
     <div class="path">
        <div class="fisrt">
            <div class="num">
                <h1>01</h1>
            </div>
            <div class="tex">
                <h2>Choose your language</h2>
                <p>select a language for program English or Arabic</p>
            </div>
        </div>
        <div class="second">
            <div class="num">
                <h1>02</h1>
            </div>
            <div class="tex">
                <h2>Choose Your Learning Path(course) and Register</h2>
                <p>select your level of Education and regiter the course to get started</p>
            </div>
        </div>
        <div class="third">
            <div class="num">
                <h1>03</h1>
            </div>
            <div class="tex">
               <h2>Cornfirm Your Payment</h2>
               <p>conrfim your payment to get access to the course</p>
            </div>
        </div>
        <div class="fourth">
            <div class="num">
                <h1>04</h1>
            </div>
            <div class="tex">
                <h2>Get Resourses</h2>
                <p>Get all the materials needed and start learning</p>
            </div>
        </div>
    </div>
     </section>





       <!-- footer -->
     <footer>
      <main>
        <div class="log">
            <h1>أكاديمية النسيم</h1>
            <img src="./images/PICTURES5.png" alt="">
        </div>
        <div class="icons">
            <a href="https://www.facebook.com/profile.php?id=61559915714971"><img src="./images/svgs/brands/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/naseeimacademy?igsh=dGQxdHhwY2Q4Y3J0"><img src="./images/svgs/brands/instagram.svg" alt=""></a>
            <a href="https://t.me/naseeimacademy."><img src="./images/svgs/brands/telegram.svg" alt=""></a>
            <a href="https://www.youtube.com/@naseeimacademy"><img src="./images/svgs/brands/youtube.svg" alt=""></a>
        </div>
        <div class="des">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/courses">COURSES</a>
            <a href="/contact">CONTACT</a>
         </div>
     </main>
        <P>copy 2024,all right reserved </P>
     </footer>

     <!-- javascript -->
      <!-- <script src="index.js"></script> -->
      <script src="courses.js"></script>
</body>
</html>